/* 快捷导航 */
.shortcut {
    height: 75px;
    background-color: #000;
}

.shortcut .logo {
    float: left;
    margin-top: 1px;
    margin-left: 60px;
    width: 219px;
    height: 72px;
}

.shortcut .logo h1 {
    width: 219px;
    height: 72px;
}

.shortcut .logo a {
    display: block;
    width: 219px;
    height: 72px;
    background-image: url(../../images/icon.png);
    font-size: 0;
}

.shortcut .postern {
    float: right;
    margin-top: 10px;
    margin-right: 60px;
    width: 51px;
    height: 53px;
    background-image: url(../../images/icon.png);
    background-position: -228px 0;
    cursor: pointer;
}

.shortcut .postern a {
    display: block;
    width: 51px;
    height: 53px;
}

.shortcut .wrapper {
    height: 74px;
    width: 80%;
    margin: 0 auto;
}

.shortcut .wrapper ul {
    float: right;
    display: flex;
    justify-content: flex-end;
}

.shortcut .wrapper li {
    position: relative;
    padding-right: 40px;
    padding-top: 25px;
}

.shortcut .wrapper li a {
    position: relative;
}

.shortcut .wrapper li:nth-child(4) {
    padding-right: 0;
}

.shortcut .wrapper li:nth-child(1) a {
    display: inline-block;
    width: 45px;
    height: 27px;
    background-image: url(../../images/icon.png);
    background-position: 0 -81px;
}

.shortcut .wrapper li:nth-child(2) a {
    display: inline-block;
    width: 51px;
    height: 21px;
    background-image: url(../../images/icon.png);
    background-position: -53px -81px;
}

.shortcut .wrapper li:nth-child(3) a {
    display: inline-block;
    width: 75px;
    height: 21px;
    background-image: url(../../images/icon.png);
    background-position: -114px -81px;
}

.shortcut .wrapper li:nth-child(4) a {
    display: inline-block;
    width: 66px;
    height: 21px;
    background-image: url(../../images/icon.png);
    background-position: -198px -81px;
}

.shortcut .wrapper li:nth-child(1) a:hover,
.shortcut .wrapper li:nth-child(1) a.active {
    background-image: url(../../images/icon.png);
    background-position: 0 -111px;
}

.shortcut .wrapper li:nth-child(2) a:hover,
.shortcut .wrapper li:nth-child(2) a.active {
    background-image: url(../../images/icon.png);
    background-position: -53px -111px;
}

.shortcut .wrapper li:nth-child(3) a:hover {
    background-image: url(../../images/icon.png);
    background-position: -114px -111px;
}

.shortcut .wrapper li:nth-child(3) a.active {
    background-image: url(../../images/icon.png);
    background-position: 0 -192px;
}

.shortcut .wrapper li:nth-child(4) a:hover {
    background-image: url(../../images/icon.png);
    background-position: -198px -111px;
}

.shortcut .wrapper li:nth-child(4) a.active {
    background-image: url(../../images/icon.png);
    background-position: -84px -192px;
}

.shortcut .wrapper li .new {
    display: none;
    position: absolute;
    top: 20px;
    width: 9px;
    height: 9px;
    background-image: url(../../images/icon.png);
    background-position: -222px -57px;
}

.shortcut .wrapper li:nth-child(1) .new {
    left: 47px;
}

.shortcut .wrapper li:nth-child(2) .new {
    left: 53px;
}

.shortcut .wrapper li:nth-child(3) .new {
    left: 77px;
}

.shortcut .wrapper li:nth-child(4) .new {
    left: 68px;
}

.shortcut .wrapper li a .choose {
    display: none;
    position: absolute;
    top: 30px;
    left: 40%;
    width: 15px;
    height: 9px;
    background-image: url(../../images/icon.png);
    background-position: -234px -57px;
}

.shortcut .wrapper li a:hover .choose {
    display: block;
}

.shortcut .wrapper li a .choose.active {
    display: block;
}